*{
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.homepage{
    font-size: x-large;
    padding-top: 4%;
    padding-left: 6%;
}

.travel{
    padding-top: 47px;
    padding-left: 17%;
}
.intro{
    padding-top: 5px;
    padding-left: 45%;
}
.aboutus{
    line-height: 178%;
    padding-right: 2%;
}