* {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1683009427590-dd987135e66c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    padding-left: 7%;
}
.baroption{
    padding-left: 35%;
    margin-top: -7%;
}
.baroption a{
    padding: 10px 30px;
}